.page-main-screen__content-wrapper {
  max-width: 100%;
  width: 921px;
}

.page-main-screen--contact {
  min-height: 557px;
  background: url("../img/contact/i3.svg") no-repeat right 0 bottom -75px, url("../img/contact/i1.svg") no-repeat left 0 top 0, url("../img/contact/i2.svg") no-repeat right 0 bottom 0, -o-linear-gradient(117.59deg, #5E2CE6 0%, #131DAA 40.05%, #192CD6 72.91%, #0A1193 100%);
  background: url("../img/contact/i3.svg") no-repeat right 0 bottom -75px, url("../img/contact/i1.svg") no-repeat left 0 top 0, url("../img/contact/i2.svg") no-repeat right 0 bottom 0, linear-gradient(332.41deg, #5E2CE6 0%, #131DAA 40.05%, #192CD6 72.91%, #0A1193 100%);
}

@media only screen and (max-width: 768px) {
  /**/
  .page-main-screen--contact {
    min-height: auto;
    background: url("../img/integrations/i4.svg") no-repeat top 0 left 32.533vw/40.533vw, url("../img/contact/i2.svg") no-repeat right 0 bottom 0/92vw, -o-linear-gradient(117.59deg, #5E2CE6 0%, #131DAA 40.05%, #192CD6 72.91%, #0A1193 100%);
    background: url("../img/integrations/i4.svg") no-repeat top 0 left 32.533vw/40.533vw, url("../img/contact/i2.svg") no-repeat right 0 bottom 0/92vw, linear-gradient(332.41deg, #5E2CE6 0%, #131DAA 40.05%, #192CD6 72.91%, #0A1193 100%);
  }
}

@media only screen and (max-width: 575px) {
  /**/
}
