.page-main-screen__content-wrapper {
  max-width: 100%;
  width: 921px;
}

.page-main-screen--contact {
  min-height: 557px;
  background: url("../img/contact/i3.svg") no-repeat right 0 bottom -75px, url("../img/contact/i1.svg") no-repeat left 0 top 0, url("../img/contact/i2.svg") no-repeat right 0 bottom 0, -o-linear-gradient(117.59deg, #5E2CE6 0%, #131DAA 40.05%, #192CD6 72.91%, #0A1193 100%);
  background: url("../img/contact/i3.svg") no-repeat right 0 bottom -75px, url("../img/contact/i1.svg") no-repeat left 0 top 0, url("../img/contact/i2.svg") no-repeat right 0 bottom 0, linear-gradient(332.41deg, #5E2CE6 0%, #131DAA 40.05%, #192CD6 72.91%, #0A1193 100%);
}

.contact-page {
  padding-top: 120px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(24.19%, rgba(255, 255, 255, 0)), color-stop(24.2%, rgba(255, 255, 255, 0.19)), color-stop(96.84%, rgba(94, 44, 230, 0.66)));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 24.19%, rgba(255, 255, 255, 0.19) 24.2%, rgba(94, 44, 230, 0.66) 96.84%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 24.19%, rgba(255, 255, 255, 0.19) 24.2%, rgba(94, 44, 230, 0.66) 96.84%);
  background-size: 100% 372px;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.contact-page .container-fluid {
  position: relative;
  padding-bottom: 116px;
}

.contact-page .container-fluid:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 91px;
  height: 91px;
  border-radius: 50%;
  z-index: 9;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  background: -o-linear-gradient(300.31deg, #56CCF2 17.35%, #80FF9F 95.55%);
  background: linear-gradient(149.69deg, #56CCF2 17.35%, #80FF9F 95.55%);
  -webkit-box-shadow: 0px 4px 20px 2px rgba(128, 255, 159, 0.5);
          box-shadow: 0px 4px 20px 2px rgba(128, 255, 159, 0.5);
}

.contact-page .section-title {
  color: #022AF0;
  padding-bottom: 56px;
}

.contact-page .h5 {
  color: #022AF0;
}

.contact-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.contact-page__item:hover {
  color: rgba(0, 0, 0, 0.8);
}

.contact-page__icon {
  min-width: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 27px;
}

.form-wrapper {
  width: 654px;
  max-width: 100%;
  border: 1px solid rgba(94, 44, 230, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 10px 10px 24px 10px rgba(94, 44, 230, 0.1);
          box-shadow: 10px 10px 24px 10px rgba(94, 44, 230, 0.1);
  border-radius: 10px;
  background: #fff;
  padding: 89px 98px 49px 98px;
}

.form {
  width: 100%;
}

.input,
.select,
.textarea {
  width: 100%;
  background-color: rgba(196, 196, 196, 0.1);
  border: 1px solid rgba(94, 44, 230, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 50px;
  padding-left: 79px;
  padding-right: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: left 31px center;
  outline: none;
}

.input:focus::-webkit-input-placeholder,
.select:focus::-webkit-input-placeholder,
.textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.input:focus::-moz-placeholder,
.select:focus::-moz-placeholder,
.textarea:focus::-moz-placeholder {
  color: transparent;
}

.input:focus:-ms-input-placeholder,
.select:focus:-ms-input-placeholder,
.textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.input:focus::-ms-input-placeholder,
.select:focus::-ms-input-placeholder,
.textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.input:focus::placeholder,
.select:focus::placeholder,
.textarea:focus::placeholder {
  color: transparent;
}

.input--name {
  background-image: url("../img/contact/ic_name.svg");
}

.input--name:focus,
.input--name:valid {
  background-image: url("../img/contact/ic_name_1.svg");
}

.input--email {
  background-image: url("../img/contact/ic_email.svg");
}

.input--email:focus,
.input--email:valid {
  background-image: url("../img/contact/ic_email_1.svg");
}

.input--phone {
  background-image: url("../img/contact/ic_phone.svg");
}

.input--phone:focus,
.input--phone:valid {
  background-image: url("../img/contact/ic_phone_2.svg");
}

.input--job {
  background-image: url("../img/contact/ic_job.svg");
}

.input--job:focus,
.input--job:valid {
  background-image: url("../img/contact/ic_job_1.svg");
}

.input--company {
  background-image: url("../img/contact/ic_company.svg");
}

.input--company:focus,
.input--company:valid {
  background-image: url("../img/contact/ic_company_1.svg");
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #A2A2A4;
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: #A2A2A4;
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: #A2A2A4;
}

.input::-ms-input-placeholder,
.textarea::-ms-input-placeholder {
  color: #A2A2A4;
}

.input::placeholder,
.textarea::placeholder {
  color: #A2A2A4;
}

.select {
  background: url("../img/contact/arrow.svg") no-repeat right 20px top 50%, url("../img/contact/ic_name.svg") no-repeat left 31px center;
  background-color: rgba(196, 196, 196, 0.1);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #A2A2A4;
}

.select option {
  background: #FFFFFF;
  border: 1px solid rgba(94, 44, 230, 0.1);
  border-radius: 10px;
  color: #A2A2A4;
}

.select:focus {
  background: url("../img/contact/up.svg") no-repeat right 20px top 50%, url("../img/contact/ic_name_1.svg") no-repeat left 31px center;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(196, 196, 196, 0.1);
}

.select:valid {
  background: url("../img/contact/arrow.svg") no-repeat right 20px top 50%, url("../img/contact/ic_name_1.svg") no-repeat left 31px center;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(196, 196, 196, 0.1);
}

.textarea {
  padding-top: 16px;
  height: 137px;
  background-image: url("../img/contact/ic_tell.svg");
  background-position: top 19px left 31px;
}

.textarea:focus {
  background-image: url("../img/contact/ic_tell_2.svg");
}

.form-text {
  font-size: 16px;
  width: 356px;
  max-width: 100%;
  margin-bottom: 84px;
}

.form .button {
  width: 100%;
  outline: none;
  border: none;
}

.input-wrapper {
  margin-bottom: 27px;
}

.input-wrapper-error .input,
.input-wrapper-error .select-selected,
.input-wrapper-error .textarea {
  border: 1px solid rgba(230, 89, 44, 0.4);
  border-radius: 10px;
}

.input-wrapper-error .select-selected:after {
  display: none;
}

.input-wrapper-error {
  position: relative;
}

.input-wrapper-error:before {
  content: 'Required';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  color: #E6592C;
}

.contact-bg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-top: 100px;
  height: auto;
}

.contact-page .col-lg-5 {
  padding-left: 30px;
}

.footer {
  position: relative;
}

.footer-bg {
  position: absolute;
  top: 0;
  right: 0;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
}

/*hide original SELECT element: */
.select-selected {
  width: 100%;
  background: url("../img/contact/1.svg") no-repeat left 31px center;
  background-color: rgba(196, 196, 196, 0.1);
  border: 1px solid rgba(94, 44, 230, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 50px;
  padding-left: 79px;
  padding-right: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: left 31px center;
  outline: none;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: url("../img/contact/arrow.svg");
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  content: url("../img/contact/up.svg");
}

.select-selected.select-checked {
  background: url("../img/contact/ic_industry_1.svg") no-repeat left 31px center;
  background-color: rgba(196, 196, 196, 0.1);
  color: #000;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #A2A2A4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  border: 1px solid rgba(94, 44, 230, 0.1);
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div {
  padding-left: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.select-items div:hover,
.same-as-selected {
  background: rgba(94, 44, 230, 0.05);
  color: #000;
}

.select-items .same-as-selected {
  color: #000;
  background: rgba(94, 44, 230, 0.05);
}

@media only screen and (max-width: 1440px) {
  .footer-bg {
    width: 35.833vw;
  }
}

@media only screen and (max-width: 992px) {
  .contact-bg {
    display: none;
  }
  .form-wrapper {
    width: 100%;
    margin-bottom: 10.133vw;
  }
  .footer {
    padding-top: 12vw;
  }
  .footer-bg {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  /**/
  .form-wrapper {
    padding: 12.533vw 6.667vw 13.867vw 6.667vw;
  }
  .page-main-screen--contact {
    min-height: auto;
    padding-bottom: 15vw;
    background: url("../img/integrations/i4.svg") no-repeat top 0 left 32.533vw/40.533vw, url("../img/contact/i2.svg") no-repeat right 0 bottom 0/92vw, -o-linear-gradient(117.59deg, #5E2CE6 0%, #131DAA 40.05%, #192CD6 72.91%, #0A1193 100%);
    background: url("../img/integrations/i4.svg") no-repeat top 0 left 32.533vw/40.533vw, url("../img/contact/i2.svg") no-repeat right 0 bottom 0/92vw, linear-gradient(332.41deg, #5E2CE6 0%, #131DAA 40.05%, #192CD6 72.91%, #0A1193 100%);
  }
  .contact-page .section-title {
    text-align: center;
    padding-bottom: 4.800vw;
  }
  .contact-page {
    padding-top: 9.600vw;
  }
  .input-wrapper {
    margin-bottom: 2.667vw;
  }
  .form-text {
    margin-bottom: 5.600vw;
  }
}

@media only screen and (max-width: 575px) {
  /**/
  .form-text {
    font-size: 3.467vw;
    width: 64vw;
  }
  .input,
  .select-selected {
    height: 9.333vw;
  }
  .textarea {
    height: 29.600vw;
  }
  .input {
    background-position: left 3.467vw center;
    background-size: 3.200vw;
  }
  .textarea {
    background-position: left 3.467vw top 4vw;
    background-size: 3.200vw;
    padding-top: 1.8vw;
  }
  .input,
  .select-selected,
  .textarea {
    padding-left: 9.867vw;
    font-size: 3.733vw;
  }
  .select-selected div {
    font-size: 3.733vw;
  }
  .select-selected:after {
    -webkit-transform: translateY(-50%) scale(0.8);
        -ms-transform: translateY(-50%) scale(0.8);
            transform: translateY(-50%) scale(0.8);
  }
  .contact-page .section-title {
    width: 74.667vw;
    margin-left: auto;
    margin-right: auto;
  }
  .select-selected {
    background: url("../img/contact/1.svg") no-repeat left 3.467vw center/3.2vw;
    background-color: rgba(196, 196, 196, 0.1);
  }
  .select:focus {
    background: url("../img/contact/up.svg") no-repeat right 3vw top 50%/3.2vw, url("../img/contact/ic_name_1.svg") no-repeat left 3.467vw center/3.2vw;
    background-color: rgba(196, 196, 196, 0.1);
  }
  .select:valid {
    background: url("../img/contact/arrow.svg") no-repeat right 3vw top 50%/3.2vw, url("../img/contact/ic_name_1.svg") no-repeat left 3.467vw center/3.2vw;
    background-color: rgba(196, 196, 196, 0.1);
  }
  .select-selected.select-checked {
    background: url("../img/contact/ic_industry_1.svg") no-repeat left 3.467vw center/3.2vw;
    background-color: rgba(196, 196, 196, 0.1);
    color: #000;
  }
  .select-items div,
  .select-selected {
    font-size: 3.733vw;
  }
  .form .button {
    height: 12.800vw;
  }
  .contact-page__item {
    font-size: 4vw;
    margin-top: 3.200vw;
  }
  .contact-page__icon {
    margin-right: 2.933vw;
    min-width: 5.333vw;
  }
  .contact-page__icon img {
    width: 5.333vw;
    height: auto;
  }
  .contact-page {
    background-size: 100% 29.333vw;
  }
  .contact-page .container-fluid {
    padding-bottom: 20vw;
  }
  .contact-page .container-fluid:after {
    display: none;
  }
  .select-items div {
    padding-left: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .input-wrapper-error:before {
    font-size: 3.733vw;
  }
}
