<section class="call-to-action call-to-action--page">

	<div class="call-to-action-wrapper">
		<div class="container-fluid">
			<div class="call-to-action__content">
				<h2 class="call-to-action__title">
					Run on your data & documentation more completely, more accurately
				</h2>
				<div class="call-to-action__text">
					Amadeo address the challenge of the company's unstructured documentation and data overload, giving you an
					all-round product vision and ensuring you never miss a thing.
				</div>
				<a class="button button--transparent schedule-demo" href="contact.html">
					SCHEDULE A DEMO
				</a>
			</div>
		</div>
	</div>
</section>
