<div class="cookie-law-info-bar hide" id="cookie__alert">

	<div class="container-fluid">
		<div class="cli-bar-container">

			<div class="cli-bar-message">This website uses cookies to maximize your experience on our website. By continuing on our website, you consent to our use of cookies. To find out more about how we use cookies, please see our
				<a href="cookie-policy.html">Cookie Policy</a>.
			</div>

			<div class="cli-bar-btn_container">
				<a class="cli_action_button cli_action_button--green" id="cookie__alert__accept">I Accept</a>
				<a class="cli_action_button" id="cookie__alert__reject">Reject All</a>
			</div>
		</div>
	</div>
</div>
