<footer class="footer">
	<div class="container-fluid">
		<div class="footer__content">
			<div class="footer__row">
				<div class="footer__logo">
					<a href="index.html">
						<img alt="amadeo logo" height="26" src="img/logos/amadeo_green_full.svg" width="125"/>
					</a>
				</div>
				<div class="footer__cols">
					<div class="footer__platform">
						<div class="footer__title">
							PLATFORM
						</div>
						<a class="footer__menu-link" href="product.html">Platform Overview</a>
						<a class="footer__menu-link inactive-link" href="">Amadeo Chatbot</a>
						<a class="footer__menu-link" href="platform.html">Amadeo Web Platform</a>
						<a class="footer__menu-link inactive-link" href="">Amadeo APIs</a>
						<a class="footer__menu-link" href="integrations.html">Integrations</a>
					</div>

					<div class="footer__solutions">
						<a class="footer__title footer__title--bold" href="solutions.html">
							SOLUTIONS
						</a>

						<a class="footer__title footer__title--bold" href="technology.html">
							TECHNOLOGY
						</a>

						<a class="footer__title footer__title--bold" href="company.html">
							COMPANY
						</a>

						<a class="footer__title footer__title--bold" href="contact.html">
							CONTACT US
						</a>


					</div>
				</div>

				<div class="footer__col">
					<div class="connect">
						<div class="footer__title">LET'S CONNECT</div>
						<a
								class="footer__menu-link footer__menu-link--mail"
								href="mailto:contact.us@amadeo.tech"
								target="_blank"
								rel="noopener noreferrer">
							contact.us@amadeo.tech
						</a>
					</div>

					<div class="follow-us">
						<div class="footer__title">FOLLOW US ON</div>
						<div class="social__wrapper">
							<!--
							<a href="">
								<img alt="twitter icon" height="24" src="img/footer/Twitter_bird_logo_2012.svg" width="30"/>
							</a> -->
							<a href="https://www.linkedin.com/company/amadeo-ai/" target="_blank" rel="noopener noreferrer">
								<img alt="linkedin icon" height="24" src="img/footer/in.svg" width="24"/>
							</a>
							<!--
							<a href="">
								<img alt="facebook icon" height="24" src="img/footer/fb.svg" width="24"/>
							</a>
							<a href="">
								<img alt="youtube icon" height="24" src="img/footer/youtube.svg" width="35"/>
							</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer__bottom">
			<div class="footer__bottom-menu">
				<a href="terms-of-use.html">Terms of Use</a>
				<a href="privacy-policy.html"> Amadeo Privacy Policy</a>
				<!-- <a href="">Amadeo.tech Cookie Policy</a> -->
			</div>

			<div class="footer__copy">
				©2021 Amadeo
			</div>
		</div>
	</div>
</footer>
