<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="theme-color" content="#7BF9AB">
<meta
		content="Amadeo is a next-gen AI & NLP-powered platform that enables instant search and summarization of a company’s data & documentation across multiple platforms. This helps you to get an all-round vision on any subject."
		name="description">
<meta content="amadeo nlp AI-powered" name="keywords"/>
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<title>Amadeo</title>
<link href="https://fonts.googleapis.com" rel="preconnect">
<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
<link href="css/style.css" rel="stylesheet">
<link rel="icon" href="img/favicon.svg" type="image/x-icon"/>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
