<header class="header" id="header">
	<div class="container-fluid">
		<div class="logo">
			<a href="index.html">
				<img alt="amadeo logo" height="30" src="img/logos/amadeo_green_full.svg" width="144"/>
			</a>
		</div>

		<div class="menu-btn" id="menu-btn">
			<div class="menu-row"></div>
			<div class="menu-row"></div>
			<div class="menu-row"></div>
		</div>

		<div class="header__menu" id="header__menu">
			<ul>

				<li class="header__menu-item header__menu-item--bold header__menu-item--platform"
						id="header__menu-item--platform">
					<div class="header__menu-link">Platform</div>
					<div class="header__menu-item--sub-wrap" id="header__menu-item--sub-wrap">
						<a class="header__menu-sub-item" href="product.html">Overview</a>
						<a class="header__menu-sub-item inactive-link" href="">Amadeo chatbot</a>
						<a class="header__menu-sub-item" href="platform.html">Amadeo Web platform</a>
						<a class="header__menu-sub-item inactive-link" href="">Amadeo APIs</a>
						<a class="header__menu-sub-item" href="integrations.html">Integrations</a>
					</div>
					<!-- start dropdown menu -->
					<div class="dropdown__menu">
						<div class="dropdown__menu-wrapper">
							<div class="dropdown__menu-row">
								<a class="dropdown__menu-item dropdown__menu-item--overview" href="product.html">
									<div class="dropdown__menu-title dropdown__menu-title--green">
										OVERVIEW
									</div>
									<img alt="overview icon" class="overview-icon" height="87" src="img/dropdown/ic_overview.svg"
											 width="118"/>
									<span class="overview__sub-title">Platform Overview</span>
									<p class="overview__text">Learn more about the platform, main features, and benefits</p>
								</a>
								<div class="dropdown__menu-item dropdown__menu-item--components">
									<div class="dropdown__menu-item-content">
										<div class="dropdown__menu-title">
											COMPONENTS
										</div>
										<a class="components__item" href="platform.html">
											<div class="components__item-title">Amadeo Web Platform</div>
											<span class="components__item-text">Get expanded functionality using the web version</span>
										</a>
										<a class="components__item inactive-link" href="">
											<div class="components__item-title">Amadeo Chatbot <span class="coming-soon">Coming Soon</span></div>
											<span class="components__item-text">Integrate chatbot into your corporate communication tool</span>
										</a>
										<a class="components__item inactive-link" href="">
											<div class="components__item-title">Amadeo APIs <span class="coming-soon">Coming Soon</span>
											</div>
											<span class="components__item-text">Use APIs to integrate Amadeo into your knowledge base solutions</span>
										</a>
									</div>
								</div>
								<div class="dropdown__menu-item dropdown__menu-item--integrations">
									<div class="dropdown__menu-title">
										INTEGRATIONS
									</div>
									<div class="integrations__row integrations__row--first">
										<div class="integrations__col">
											<div class="integrations__item">
												<img alt="confluence logo" height="24" src="img/dropdown/Atlassian_Confluence_2017_logo.svg"
														 width="24"/>
												<div class="integrations__item-title">
													Confluence
												</div>
											</div>

										</div>
										<div class="integrations__item">
											<img alt="jira logo" height="24" src="img/dropdown/jira.svg" width="24"/>
											<div class="integrations__item-title">
												Jira
											</div>
										</div>
									</div>

									<div class="integrations__row">
										<div class="integrations__col">
											<div class="integrations__item">
												<img alt="GitHub logo" height="24" src="img/dropdown/githun.svg" width="24"/>
												<div class="integrations__item-title">
													GitHub
												</div>
											</div>

										</div>
										<div class="integrations__item">
											<img alt="skype logo" height="24" src="img/dropdown/Skype.svg" width="25"/>
											<div class="integrations__item-title">
												Skype for <br> Business
											</div>
										</div>
									</div>


									<div class="integrations__row">
										<div class="integrations__col">
											<div class="integrations__item">
												<img alt="slack logo" height="24" src="img/dropdown/slack.svg" width="24"/>
												<div class="integrations__item-title">
													Slack
												</div>
											</div>

										</div>
										<div class="integrations__item">
											<img alt="mikrosoft logo" height="24" src="img/dropdown/Microsoft-Teams.svg" width="27"/>
											<div class="integrations__item-title">
												Microsoft <br>Teams
											</div>
										</div>
									</div>

									<a class="integrations__link" href="integrations.html">
										View all integrations
										<img alt="arrow" height="8" src="img/arrow.svg" width="15"/>
									</a>
								</div>
							</div>

						</div>
					</div>

					<!-- end dropdown menu -->

				</li>
				<li class="header__menu-item header__menu-item--bold">
					<a class="header__menu-link" href="solutions.html">Solutions</a>
				</li>
				<li class="header__menu-item header__menu-item--bold">
					<a class="header__menu-link" href="technology.html">Technology</a>
				</li>
				<li class="header__menu-item header__menu-item--bold">
					<a class="header__menu-link" href="company.html">Company</a>
				</li>
				<!-- <li class="header__menu-item">
					<a class="header__menu-link" href="resources.html">Resources</a></li> -->
				<li class="header__menu-item header__menu-item--bold">
					<a class="header__menu-link" href="https://amadeo-ai.atlassian.net/wiki/x/koBV" target="_blank" rel="noopener">
						Documentation
					</a>
				</li>
				<li class="header__menu-item header__menu-item--bold">
					<a class="header__menu-link" href="contact.html">Contact</a>
				</li>
			</ul>
			<a class="button header__button" href="contact.html">GET A DEMO</a>
		</div>

	</div>
</header>
