<div class="updates hide" id="updates">
	<div class="container-fluid">
		<a
			class="updates__text"
			href="https://amadeo-ai.atlassian.net/wiki/spaces/AD/pages/8389033/Release+Notes+v0.0.8"
			target="_blank">
			<img alt="fire icon" class="updates__icon" height="28" src="img/top_row/ic_fire.svg" width="23"/>
			<span>Announcing Product updates v0.0.8: New integrations with Jira, Confluence, Slack and GitHub</span>
		</a>
		<img alt="close button" class="updates__close" height="26" id="updates__close" src="img/top_row/ic_cross.svg"
				 width="26"/>
	</div>
</div>
